version: "3.7"
volumes:
  certs:
    name: proxy_certs
  dhparam:
    name: proxy_dhparam
  html:
    name: proxy_html
  acme:
    name: proxy_letsencrypt_acme
  conf:
    name: proxy_conf
 
networks:
  # Any services that want to be proxied need to use this network
  proxy_net:
    name: proxy_net
    external: true

services:
  proxy:
    # This is the nginx-based reverse proxy.
    image: nginx
    labels:
      - "com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy"
    networks:
      proxy_net:
  
    # *** LET'S ENCRYPT WON'T WORK UNLESS port 80 and 443 are both visible on the INTERNET  ***
    # *** If you disable port 80, the problem will be masked until a vhost needs to get     ***
    # *** new certs. It will complain about .well-known/* being inaccessible.               ***
    ports:
      - "80:80/tcp"
      - "443:443/tcp"

    volumes:
      - ./network_internal.conf:/etc/nginx/network_internal.conf

      # Shared with letsencrypt and dockergen
      - html:/usr/share/nginx/html:ro
      - dhparam:/etc/nginx/dhparam:ro
      - ./vhost.d:/etc/nginx/vhost.d

      # Certificates created by letsencrypt.
      - certs:/etc/nginx/certs:ro

      # Contains the default.conf file written by dockergen
      - conf:/etc/nginx/conf.d:ro
      
    # This is for swarm only, docker-compose ignores it.
    deploy:
      mode: global
      restart_policy:
        condition: on-failure
        delay: 5s
        window: 15s

  dockergen:
    # Watch the docker API on the socket.
    # Generate a proxy automatically for each web server that is started.
    # You have to set VIRTUAL_HOST for each web server to trigger it

    image: jwilder/docker-gen
    labels:
      - "com.github.jrcs.letsencrypt_nginx_proxy_companion.docker_gen"

    command: -notify-sighup nginx -watch /etc/docker-gen/templates/nginx.tmpl /etc/nginx/conf.d/default.conf
    volumes:
      # This is how docker-gen detects when containers come and go.
      - /var/run/docker.sock:/tmp/docker.sock:ro
      #
      # The template docker-gen uses to build and maintain default.conf
      - ./nginx.tmpl:/etc/docker-gen/templates/nginx.tmpl
      #
      # Here is where docker-gen writes the default.conf file
      - conf:/etc/nginx/conf.d:rw
      #
      # Not sure why docker-gen needs this but it does
      - certs:/etc/nginx/certs:ro
    networks:
      proxy_net:
    # This is for docker-compose only, swarm ignores it.
    depends_on:
      - proxy
    # This is for swarm only, docker-compose ignores it.
    deploy:
      mode: global
      restart_policy:
        condition: on-failure
        delay: 5s
        window: 15s

  letsencrypt:
    # Companion that manages our Let's Encrypt certificates for us.
    # It will create new certs automatically whenever a new server comes online.
    image: jrcs/letsencrypt-nginx-proxy-companion:2.0.1
    networks:
      proxy_net:
    environment:
      # Don't generate keys on BOTH proxy and letsencrypt, we share one!
      DHPARAM_GENERATION: "false"
    volumes:
      # Shared with proxy, certs and html have to be writable
      - certs:/etc/nginx/certs:rw
      - ./vhost.d:/etc/nginx/vhost.d
      - dhparam:/etc/nginx/dhparam:ro
      - html:/usr/share/nginx/html:rw
      - acme:/etc/acme.sh
      # Watch the docker API.
      - /var/run/docker.sock:/var/run/docker.sock:ro
    # This is for docker-compose only, swarm ignores it.
    depends_on:
      - proxy
      - dockergen
    # This is for swarm only, docker-compose ignores it.
    deploy:
      mode: global
      restart_policy:
        condition: on-failure
        delay: 5s
        window: 15s

